version: 2.1
orbs:
  aws-ecr: circleci/aws-ecr@6.12.2
  aws-ecs: circleci/aws-ecs@1.3.0
  
jobs:
  build_and_deploy:
    working_directory: ~/majorproject
    docker:
      - image: circleci/openjdk:8-jdk-stretch
    environment:
      FULL_IMAGE_NAME: 145555723369.dkr.ecr.us-east-1.amazonaws.com/project:latest
    steps:
      - checkout
      - setup_remote_docker
      
      - restore_cache:
          key: sept-fri-10-30-2-{{ checksum "~/majorproject/majorproject/pom.xml" }}
      
      - run : cd ~/majorproject/majorproject; mvn dependency:go-offline;

      - save_cache:
          paths:
           - ~/.m2
          key: sept-fri-10-30-2-{{ checksum "~/majorproject/majorproject/pom.xml" }}
      # Run tests
      - run: cd ~/majorproject/majorproject;mvn test;
      
      - store_test_results:
          path: ~/majorproject/majorproject/target/surefire-reports
      
      # Package   
      - run: cd ~/majorproject/majorproject;mvn package -Dmaven.test.skip=true -Pprod;
      
      - store_artifacts:
          path: ~/majorproject/majorproject/target/majorproject-0.0.1-SNAPSHOT.jar;
      - run:
          name: Install dependencies for AWS
          command: |
            sudo apt-get update
            sudo apt-get -y -qq install awscli
            sudo apt-get install python3-pip
            sudo pip3 install --upgrade awscli
      - run:
          name: Build image
          command: |
            docker-compose build
      - run:
          name: Push image
          command: |
            aws ecr get-login-password --region us-east-1 | docker login --username AWS --password-stdin 145555723369.dkr.ecr.us-east-1.amazonaws.com
            docker-compose push
            
workflows:
 build-deploy-qa:
    jobs:
      - build_and_deploy:
          filters:
            branches:
              only: master
